<div class = "container">

  <div class = "h4 mt-4 bg-light text-black text-center" style = "width:260px">
    &ensp;商品詳細&ensp;
  </div>

</div>


<div class = "container ml-0">
  <div class = "row mt-5">
    <div class = "col-1"></div>
    <div class = "col-4">
      <%= @item.name %>
    </div>
    <div class = "col-7">
      <%= @item.name %>
    </div>
  </div>
</div>