<div class = "container">

  <div class = "h4 mt-4 bg-light text-black text-center" style = "width:260px">
    &ensp;ジャンル編集&ensp;
  </div>

</div>

<div class = "container ml-5">
  <div class = "mt-5 pt-3 mx-sm-0">

    <%= form_with model: @genre, url: admin_genre_path do |f| %>

      <table class = "table table-borderless" style= "width: 700px">

        <tr>
          <td class = "pt-0 align-middle" style = "width: 150px">ジャンル名</td>
          <td class = "pt-0 pr-4" style = "width 345px">
            <%= f.text_field :name, class: "form-control border-dark" %>
          </td>
          <td class = "pt-0 pl-5" style = "width: 205px">
            <%= f.submit "変更を保存", class: "btn btn-success form-control font-weight-bold col-12" %>
          </td>

      </table>

    <% end %>

  </div>
</div>
