@use '~bootstrap/scss/bootstrap';

// ページネーション全体
.pagination{
  justify-content: center;
}

// ページネーションのリンク文字
.pagination a{
  margin: 0px 5px;
}

.item-registration-input-table{
  margin-left: 200px;
}